

body {
  background: #294720;
  font-family: 'Aclonica', sans-serif;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

p, span {
  display: inline-block;
  padding: 0px 40px 0px 40px;
  margin: 0px auto;
  text-align: left;
}
/* for card attachment */
.photo {

}
/* background of cards */
#container {
  border: 2px solid black;
  background: #001947;
  border-radius: 5px;
  position: block;
  width: 400px;
  height: 350px;
  padding: 10px;

}

/* start button id */
#start {

}
/* class to center element */
.center {
  color: #fff;
  margin: 10px auto;
  width: 100%;
  text-align: center;
  height: auto;
}
/* background of buttons */
#wrapper {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  padding: 5px 0px 5px 5px;
  background-color: #FFC21C;
  border: 1px solid black;
}
/* button itself */
button {
  width: 130px;
  height: 30px;
  margin-top:5px;
  position: relative;
  font-size: 14px;
  color: #ffffff;
  background: #000;
  border-radius: 7px;

}

img {
  width: inherit;
}

/* container behind playing cards */
.player{
  background: #ff0000;
  text-align: center;
  width: 100px;
  height: 150px;
  font-size: 30px;
  color: #000;
  padding: 25px 5px 5px 10px;
  margin: 20px 15px 15px 5px;
  border: 1px solid black;
  border-radius: 5px;
  position: block;
  display: inline-block;

}
/* ids for playing cards */
#player1{
}
#player2{
}
/* small screen*/
@media screen and (min-width: 150px) and (max-width: 500px){

/* background of cards */
#container {
  border: 2px solid black;
  background: #001947;
  border-radius: 5px;
  position: block;
  width: 100%;
  height: inherit;
  padding: 2px;

}
h1 {
  font-size: 1.5em;

}
p, span {
  font-size: 12px;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  margin: 0px auto;
  text-align: left;
}
/* class to center element */
.center {
  font-size: 100%;
  color: #fff;
  margin: 10px auto;
  width: 100%;
  text-align: center;
  height: auto;
}
/* user message */
#message {
  margin: 5px 0px 5px 0px;
  display:none;
}
/* box behind buttons */
#wrapper {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  line-height: 20px;
  padding: 1px 0px 1px 1px;
  background-color: #FFC21C;
  border: 1px solid black;
}

/* container behind playing cards */
.player{
  background: #ff0000;
  text-align: center;
  width: 60px;
  height: 100px;
  font-size: 18px;
  color: #000;
  padding: 15px 2px 2px 2px;
  margin: 5px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
  /*position: block;*/
  display: inline-block;

}
/* button itself */
button {
  font-size: 100%;
  width: 50%;
  margin:5px 5px 1px 1px;
  font-size: 12px;
  color: #ffffff;
  background: #000;
  border-radius: 7px;

}

}/* end small screen*/



/* medium screen */
@media screen and (min-width: 501px) and (max-width: 800px) {

#wrapper {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  background-color: #FFC21C;
  border: 1px solid black;
}

/* class to center element */
.center {
  color: #fff;
  margin: 10px auto;
  width: 100%;
  text-align: center;
  height: auto;
}

/* button itself */
button {
  width: 130px;
  height: 30px;
  margin-top:5px;
  position: relative;
  font-size: 14px;
  color: #ffffff;
  background: #000;
  border-radius: 7px;

} /* end media query Medium screen */







