.board {
  display:inline-block;
  height: 400px;
  width: 600px;
  background-color: green;
  border: 5px solid brown;
  border-radius: 10px;
  text-align: center;
}

.card {
  height: 200px;
  width: 150px;
  background-color: red;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  margin: 40px;
}


button {
}
