body {
  background-color: black;
}

#game-container {
  background-color: black;
  height: 275px;
  width: 275px;
  border-radius: 137px;
  border: 5px solid rgba(255,153,51,1);
  margin: 40px;
}

.colorbtn {
  height: 100px;
  width: 100px;
  position: relative;
  left: 100px;
  top: 100px;
}

.colorbtn:active {
  border: 5px solid rgba(255,153,51,1);
}


#btn-container {
  position: relative;
  right: 50px;
  bottom: 50px;
}

#col-1 {
  float:left;
}

#col-2 {
  float:left;
}

#green {
  background-color: rgb(193,253,51);
  position: relative;
  left: 75px;
  top: 75px;
  border-radius: 100px 0 0 0;
}

#red {
  background-color: rgb(252,90,184);
  right: 75px;
  top: 75px;
  border-radius: 0 100px 0 0;
}

#yellow {
  background-color: rgb(243,243,21);
  left: 75px;
  bottom: 75px;
  border-radius: 0 0 0 100px;
}

#blue {
  background-color: rgb(13,213,252);
  right: 75px;
  bottom: 75px;
  border-radius: 0 0 100px 0;
}

#counter {
  height:20px;
  width: 40px;
  background-color: black;
  color: rgb(252,90,184);
  display:left;
}

#start {
  background-color: rgb(252,90,184);
}

#hardmode {
  background-color: rgb(252,90,184);
}







