@font-face {
  font-family: 'starwars';
  src: url('Death Star.otf');
}

body {
  background: url('background.jpg');
  text-align: center;
}

h1 {
  font-family: starwars;
  font-size: 3.5em;
  color: gold;
}

h2 {
  color: gold;
  font-style: italic;
  font-size: 2em;
}

img {
  height: 50%;
  width: 50%;
  margin: inherit;
}

.deck {
  color: white;
  font-size: 16px;
  width: 394px;
  height: 32px;
  margin: auto;
}

.faceDown {
  height: 150px;
  width: 112.5px;
  background-color: red;
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}

.faceUp {
  height: 150px;
  width: 112.5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  font-size: 36px;
  color: red;
  margin: 20px auto;
}

.buttons {
  text-align: center;
}

.players {
/*  width: 400px; */
  margin: auto;
}

.hidden{
  display: none;
}

#inHandA, #inHandB {
  color: gold;
  height: 32px;
}

