body {
  background-color: teal;
}

#game-container {
  background-color: black;
  height: 275px;
  width: 275px;
  border-radius: 137px;
}

.colorbtn {
  height: 100px;
  width: 100px;
  background-color: white;
  position: relative;
  left: 100px;
  top: 100px;
}

.highlight:active {
  border: 5px solid white;
}


#btn-container {
  position: relative;
  right: 50px;
  bottom: 50px;
}

#col-1 {
  float:left;
}

#col-2 {
  float:left;
}

#green {
  background-color: green;
  position: relative;
  left: 75px;
  top: 75px;
  border-radius: 100px 0 0 0;
}

#red {
  background-color: red;
  right: 75px;
  top: 75px;
  border-radius: 0 100px 0 0;
}

#yellow {
  background-color: yellow;
  left: 75px;
  bottom: 75px;
  border-radius: 0 0 0 100px;
}

#blue {
  background-color: blue;
  right: 75px;
  bottom: 75px;
  border-radius: 0 0 100px 0;
}

.green {
  background-color:white;
}

.flash-red {
  background-color:;
}

.flash-yellow {
  background-color:;
}

.flash-blue {
  background-color:;
}

#counter {
  height:20px;
  width: 40px;
  background-color: gray;
  color: red;
  display:left;
}

#start {
  background-color: red;
}








