.board {
  display: inline-block;
  width: 334px;
  height: 334px;
  /*border: 1px solid black;*/
}
.divs {
  display: inline-block;
  border: 1px white solid;
  float: left;
}
.dot {
  width: 5px;
  height: 5px;
  background: black;
}
.h {
  width: 100px;
  height: 5px;
}
.v {
  width: 5px;
  height: 100px;
}
.h:hover {
  background: black;
  /*transition: 0.2s;*/
}
.v:hover {
  background: black;
  /*transition: 0.2s;*/
}
.box {
  width: 100px;
  height: 100px;
}
.clicked-bar {
  background: black;
}
