body {
  background-color: black;
  margin: 40px;
}

h1 {
  font-family:Arial;
  color: white;
  font-size: 40px;
  margin: 0 0 20px 110px;
}

#game-container {
  background-color: black;
  height: 275px;
  width: 275px;
  border-radius: 137px;
  border: 5px solid rgba(255,153,51,1);
  margin: 50px 0 0 75px;
}

.colorbtn {
  height: 100px;
  width: 100px;
  position: relative;
  left: 100px;
  top: 100px;
}

#btn-container {
  position: relative;
  right: 50px;
  bottom: 50px;
}

#col-1 {
  float:left;
}

#col-2 {
  float:left;
}

#green {
  background-color: rgb(193,253,51);
  left: 75px;
  top: 75px;
  border-radius: 100px 0 0 0;
}

#red {
  background-color: rgb(252,90,184);
  right: 75px;
  top: 75px;
  border-radius: 0 100px 0 0;
}

#yellow {
  background-color: rgb(243,243,21);
  left: 75px;
  bottom: 75px;
  border-radius: 0 0 0 100px;
}

#blue {
  background-color: rgb(13,213,252);
  right: 75px;
  bottom: 75px;
  border-radius: 0 0 100px 0;
}

#counter {
  height:30px;
  width: 50px;
  background-color: black;
  border: 1px solid rgb(252,90,184);
  color: rgb(252,90,184);
  display:left;
  font-size: 25px;
  padding: 5px;
}

.level {
  font-size: 25px;
  color: rgb(252,90,184);
}
#selection-container {
  margin-left: 100px;
}

#start {
  background-color: rgb(252,90,184);
  height: 20px;
  width: 60px;
  border: black;
  margin: 0 20px 0 0;
}

#hardmode {
  background-color: rgb(252,90,184);
  height: 20px;
  width: 60px;
  border-radius: 10px;
  border: black;
}

#replay {
  background-color: rgb(252,90,184);
  height: 20px;
  width: 60px;
  border: black;
  margin: 0 0 0 20px;
}


lost






