.color1 {
  background-color: #FF2D00;
  width: 75px;
  height: 75px;
}

.color2 {
  background-color: #04756F;
  width: 75px;
  height: 75px;
}

.square {
  /*display: inline-block;*/
  border-radius: 70px;
  width: 75px;
  height: 75px;
}

.column {
  display: inline-block;
  margin: 10px;
  background: black;

}
































/*tr{
  display:inline-block;
  margin: 10px;
  background: black;
}

table{

  margin-top: 50px;
  margin-left: 350px;
}



.color1 {
  background-color: #FF2D00;
  width: 75px;
  height: 75px;
}

.color2 {
  background-color: #04756F;
  width: 75px;
  height: 75px;
}


td {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 70px;
}
*/
