 body {
  background-color: lightblue;
  text-align: center;
  padding: 2em 0;
  font-size: 10px;
  margin: 0 auto;
}

header {
  margin: 0 auto;
}
h1 {
  font-size: 3em;
}

table {
  background-color: yellow;
  border: 10px solid #ccc;
  margin: 0 auto;
}
td {
  border: 1px solid black;
  border-radius: 50%;
  margin: .3em;
  display: block;
 }
tr {
  display: inline-block;
}


.players {
  display: inline-block;
  margin: 3em 2em;
}

.activeRed {
  border: 4px dashed black;
  background-color: red;
  width: 4em;
  height: 4em;
}
.activeBlack {
  border: 4px dashed red;
  background-color: black;
  width: 4em;
  height: 4em;
}

.trNumbers {
  width: 4.5em;
  height: 4.5em;
}

.tdBoard {
  border-radius: 1px solid black;
  width: 4.5em;
  height: 4.5em;
}


#Peace {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
}

#playerOne {
  font-size: 1.5em;
  text-align: center;
}
#playerTwo {
  font-size:  1.5em;
}
#playerOneInput {
  font-size: 1.3em;
  text-align: center;
}
#playerTwoInput {
  font-size: 1.3em;
  text-align: center;
  color: white;
}

