body {
  background: silver;
  font-family: Arial, sans-serif;
}
.slot {
  height: 150px;
  width: 100px;
  display: inline-block;
  border-radius: 10px;
}
.empty {
  background: white;
}
/*.bet {
  display: inline-block;
}*/
.red {
  background: pink;
}
.blue {
  background: turquoise;
}
.yellow {
  background: gold;
}
