html, body {
  height: 100%;
  margin: 0;
  background: #36454f;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  height: 138px;
  width: 95px;
  border: 1px solid black;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

[name="start"] {
  font-weight: 200;
  background-color: #36454f;
  color: white;
  position: relative;
  top: 340px;
  left: 300px;
  width: 25%;
  height: 50px;
  z-index: 150;
  cursor: pointer;
  transition: .5s ease;
  border: 3px solid black;
  outline: 0px;
}

[name="start"]:hover {
  background: black;
  outline: 0px;
}

.cash-text {
  font-family: 'Bungee Shade', cursive;
  position: absolute;
  font-size: 40px;
  left: 600px;
  width: 400px;
  top: 10px;
  color: white;
  opacity: 0;
}

.bet-text {
  font-family: 'Bungee Shade', cursive;
  position: absolute;
  font-size: 40px;
  left: 632px;
  width: 400px;
  top: 60px;
  color: white;
  opacity: 0;
}

.debt {
  font-family: 'Bungee Shade', cursive;
  position: absolute;
  font-size: 30px;
  left: 552px;
  width: 400px;
  top: -90px;
  color: red;
  text-align: center;
  opacity: 0;
  transition: .5s ease;
  animation-duration: 5s;
}

.round{
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size: 30px;
  font-weight: 800;
  z-index: 10;
}

.deal-button {
  z-index: 5;
  left: -50px;
  opacity: 0;
  transition: .3s ease,
              opacity .75s ease;
  animation-delay: 0s;
}

.hit-button {
  z-index: 5;
  left: -140px;
  top: 200px;
  opacity: 0;
  transition: .3s ease,
              opacity .75s ease;
  animation-delay: 0s;
}

.stay-button {
  top: 395px;
  left: -50px;
  opacity: 0;
  transition: .3s ease,
              opacity .75s ease;
  animation-delay: .33s;
}

.round:hover {
  background: #262626;
  cursor: pointer;
  color: red;
}

.round2 {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #464646;
  font-size: 30px;
  font-weight: 800;
  z-index: 10;
}

.round2:hover {
  background: #262626;
  cursor: pointer;
  color: red;
}

.bet-500 {
  top: 142px;
  left: 830px;
  background: #222222;
  opacity: 0;
  transition: all .3s ease,
              opacity .75s ease;
  animation-delay: .2s;
  border: 7px dashed #f5f5f5;
}

.bet-500:hover {
  background: black;
  color: white;
}

.bet-100 {
  top: 284px;
  left: 822px;
  height: 90px;
  width: 90px;
  line-height: 90px;
  background: #190f9a;
  opacity: 0;
  transition: .3s ease,
              opacity .75s ease;
  animation-delay: .4s;
  border: 7px dashed #f5f5f5;
}

.bet-100:hover {
  background: #130e6b;
  color: white;
}

.bet-50 {
  top: 395px;
  left: 750px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  background: #CC1116;
  opacity: 0;
  transition: .3s ease,
              opacity .75s ease;
  animation-delay: .6s;
  border: 7px dashed #f5f5f5;
}

.bet-50:hover {
  background: #880003;
  color: white;
}

.dealer-description {
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
  position: absolute;
  color: white;
  z-index: 4;
  transform: rotate(-25deg);
  left: 1120px; /*real position 120px*/
  opacity: 0;
  transition: 1.1s ease;
}

.player-description {
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
  position: absolute;
  color: white;
  z-index: 4;
  transform: rotate(-25deg);
  left: -520px; /*real position 480px*/
  top: 400px;
  opacity: 0;
  transition: 1.1s ease;
}

.wrapper {
  min-height: 100%;
  position: relative;
  display: block;
  top: 120px;
}

.header {
  margin-top: 0px;
  position: fixed;
  font-family: 'Monoton', cursive;
  font-size: 50px;
  color: black;
  z-index: 100;
  opacity: 0;
  transition: 1.3s ease-in;
  cursor: default;
}

.header-big {
  margin: 0;
  position: absolute;
  font-family: 'Monoton', cursive;
  font-size: 100px;
  color: black;
  z-index: 100;
  top: 200px;
  left: 70px;
  cursor: default;
  transition: .6s ease-in;
}

.head-wrap {
  z-index: 100;
}

.circle {
  border-radius: 50%;
}

.typeTable {
  width: 800px;
  height: 500px;
  background: white;
  background: #076324;
  background-image: url("../assets/45-degree-fabric-light.png");
  margin: 0 auto;
  border: 30px solid #663300;
  box-shadow: inset 0 -100px 200px #222222;
  position: relative;
}

.typeDealer {
  width: 400px;
  height: 200px;
  border-bottom: 30px solid #663300;
  position: absolute;
  top: -115px;
  left: 205px;
  background: #36454f;
}

.player-score {
  position: absolute;
  font-size: 40px;
  top: -45px;
  left: 80px;
  color: gold;
  opacity: 0;
  transition: 0s ease;
}

.dealer-score {
  position: absolute;
  font-size: 40px;
  color: gold;
  top: 57px;
  left: 90px;
  opacity: 0;
  transition: 0s ease;
}

.dealer-score2 {
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
  position: absolute;
  font-size: 40px;
  color: gold;
  top: 56px;
  left: 246px;
  opacity: 0;
  transition: 0s ease;
  z-index: 4;
  transform: rotate(-25deg);
}

.win-message {
  transform: rotate(-25deg);
  font-family: 'Bungee Shade', cursive;
  font-size: 180px;
  color: red;
  font-weight: 800;
  position: absolute;
  top: 100px;
  z-index: 20;
  transition: 0s ease;
  text-shadow: 10px 10px 20px #000000;
  cursor: default;
}

.dealer-cards {
  position: absolute;
  top: 20px;
}

.dealer-0 {
  position: relative;
  left: 352px;
  opacity: 1;
  transition: all 3s ease;
  z-index: 0;
}

.dealer-back {
  position: absolute;
  left: 352px;
  top: 20px;
  z-index: 1;
  opacity: 0;
}

.dealer-1 {
  position: relative;
  left: 332px;
  top: -105px;
  z-index: 2;
}

.dealer-2 {
  position: relative;
  left: 312px;
  top: -210px;
  z-index: 2;
}

.dealer-3 {
  position: relative;
  left: 292px;
  top: -315px;
  z-index: 2;
}

.dealer-4 {
  position: relative;
  left: 272px;
  top: -420px;
  z-index: 2;
}

.dealer-5 {
  position: relative;
  left: 252px;
  top: -525px;
  z-index: 2;
}

.dealer-6 {
  position: relative;
  left: 232px;
  top: -630px;
  z-index: 2;
}

.player-cards {
  position: relative;
  top: 340px;
}

.player-0 {
  position: relative;
}

.player-1 {
  position: relative;
  top: -175px;
  left: 20px;
}

.player-2 {
  position: relative;
  left: 40px;
  top: -350px;
}

.player-3 {
  position: relative;
  left: 60px;
  top: -525px;
}

.player-4 {
  position: relative;
  left: 80px;
  top: -700px;
}

.player-5 {
  position: relative;
  left: 100px;
  top: -875px;
}

.player-6 {
  position: relative;
  left: 120px;
  top: -1050px;
}

.player-7 {
  position: relative;
  left: 140px;
  top: -1225px;
}
